.ideationcard
  .typology(style="background-color: rgb(" + typologyColor.r + "," + typologyColor.g + "," + typologyColor.b + ");")= Typologie
  .name
    span= Nom
  img.holder(src="img/creationcard/logo_" + Détenteur.toLowerCase() + ".png", title=Détenteur)
  .description= Description
  .frequency
    img(src='img/creationcard/frequency_gauge.svg')
    span= Fréquence
  .index= index 
